# Set of recommendations to apply. "digipod" is the default.
# The "celida" set of recommendations requires a configured FHIR
# recommendataion server (See celida.env for the relevant
# configuration options).
# APPLY_RECOMMENDATIONS_RECOMMENDATION_SET="digipod" | "celida"
APPLY_RECOMMENDATIONS_RECOMMENDATION_SET=celida

# Start point of the temporal observation window to which
# recommendations should be applied in each run of the execution
# engine. The end point is always the current time when the execution
# engine run starts.
APPLY_RECOMMENDATIONS_START_TIME=2024-06-01

# Method for triggerign runs of the execution engine. "http_request"
# is the default.
# APPLY_RECOMMENDATIONS_TRIGGER_METHOD="timer" | "http_request"

# Parameters for time-based trigger; only applicable if
# _TRIGGER_METHOD is "timer"
# APPLY_RECOMMENDATIONS_TRIGGER_RUN_INTERVAL=Duration

# Parameters for the HTTP request trigger method; only applicable if
# _TRIGGER_METHOD is "http_request".

# Interface on which to listen for HTTP requests.
APPLY_RECOMMENDATIONS_TRIGGER_HTTP_ADDRESS=0.0.0.0

# Port on which to listen for HTTP requests.
APPLY_RECOMMENDATIONS_TRIGGER_HTTP_PORT=55555
