# See the execution-engine repository for an explanation of the
# CELIDA_EE_* environment variables.
CELIDA_EE_TIMEZONE=Europe/Berlin
CELIDA_EE_EPISODE_OF_CARE_VISIT_DETAIL=0

CELIDA_EE_OMOP__HOST=172.17.0.1
CELIDA_EE_OMOP__PORT=5434
CELIDA_EE_OMOP__USER=postgres
CELIDA_EE_OMOP__PASSWORD=yourpassword
CELIDA_EE_OMOP__DATABASE=ohdsi
CELIDA_EE_OMOP__DATA_SCHEMA=cds_cdm
CELIDA_EE_OMOP__RESULT_SCHEMA=celida

CELIDA_EE_MULTIPROCESSING_USE=0
CELIDA_EE_MULTIPROCESSING_POOL_SIZE=-1
